@if (isLoading()) {
  <div class="container-progress-spinner">
    <p-progress-spinner ariaLabel="loading" />
  </div>
} @else {
  <div class="container">
    <div class="container-button">
      <p-button [icon]="'pi pi-arrow-left'" [label]="'назад'" (onClick)="goBack()"/>
    </div>
    <div class="container-content">
      <div class="content-details">
        <h3 class="m-0 p-0">{{ movieData()!.name }} ({{ movieData()!.year }})</h3>
        <div class="info">
          <div class="container-img">
            <img
              appLoader
              [mediaSource]="movieData()!.imageURL"
              skeletonSize="200px"
              style="width: auto; max-height: 100%"
            />
          </div>
          <div>
            <div>
              <div class="flex gap-2">
                <span class="font-bold">Год выпуска: </span>
                <span>{{ movieData()!.year }}</span>
              </div>
              <div class="flex gap-2">
                <span class="font-bold">Страна: </span>
                <span>{{ movieData()!.country | country }}</span>
              </div>
              <div class="flex gap-2">
                <span class="font-bold">Жанр: </span>
                <span>{{ movieData()!.genre | genre }}</span>
              </div>
              <div class="flex gap-2">
                <span class="font-bold">Продолжительность: </span>
                <span>{{ movieData()!.duration | duration }}</span>
              </div>
              <div class="flex gap-2">
                <span class="font-bold">Качество: </span>
                <span>{{ movieData()?.quality ? movieData()!.quality : 'неизвестно' }}</span>
              </div>
            </div>
            <p>{{ movieData()!.description }}</p>
          </div>
        </div>
      </div>
      <app-viewing-video [videoURL]="movieData()!.movieURL"/>
    </div>
  </div>
}
