@if (isLoading()) {
  <p-progress-spinner
    ariaLabel="loading"
    class="flex justify-content-center align-items-center w-full"
  />
} @else {
  <div class="flex flex-column">
    <div class="movie-container">
      @for (movie of movies(); track movie.id) {
        <app-movie-card [movie]="movie"/>
      }
    </div>
    <p-paginator
      [style]="{ backgroundColor: 'var(--p-surface-300)' }"
      (onPageChange)="onPageChange($event)"
      [first]="first()"
      [rows]="rows()"
      [showCurrentPageReport]="true"
      [currentPageReportTemplate]="'Отображается от {first} до {last} из {totalRecords} элементов'"
      [totalRecords]="totalRecords()"
      [rowsPerPageOptions]="[5, 10, 20, 30]"/>
  </div>
}
