<nav class="fixed p-1 top-0 left-0 right-0 flex justify-content-center">
  <div class="header-container">
    <h3 class="cursor-pointer" (click)="goHome()">Каталог фильмов</h3>
    <form [formGroup]="myForm" class="flex align-items-center gap-1">
      <p-auto-complete
        #autoComplete
        [inputStyle]="{ height: '30px' }"
        [suggestions]="searchResult()"
        [optionLabel]="'name'"
        [showClear]="true"
        (onSelect)="navigateToViewingMovie($event)"
        [showEmptyMessage]="true"
        [emptyMessage]="'Поиск не дал результатов'"
        formControlName="search"
        placeholder="Поиск фильмов..."
      >
        <ng-template #item let-item >
          <div class="flex align-items-center">
            <img
              appLoader
              [mediaSource]="item.imageURL"
              [alt]="item.name"
              style="max-width: 20px; max-height: 30px"
            />
            <span class="ml-2">{{ item.name }}</span>
          </div>
        </ng-template>
      </p-auto-complete>
    </form>
  </div>
</nav>
<main>
  <div class="container-content">
    <div class="container-recommendations">
      <div class="flex">
        <div class="container-recommendations-title">
          <h2 class="m-0">Рекомендуемое</h2>
        </div>
      </div>
      <div class="container-recommendations-content">
        @if (isLoading()) {
          <p-progress-spinner
            ariaLabel="loading"
            class="flex justify-content-center align-items-center w-full"
          />
        } @else {
          <div class="recommendation-cards">
            @for (rec of recommendations(); track rec.id) {
              <img
                appLoader
                [mediaSource]="rec.imageURL"
                [alt]="rec.name"
                class="cursor-pointer"
                routerLink="/viewing-movie/{{ rec.id }}"
                style="max-width: 200px; max-height: 300px"
                [pTooltip]="`${rec.name} (${rec.year})`"
                [tooltipPosition]="'bottom'"
              >
            }
          </div>
        }
      </div>
    </div>
    <section class="w-full">
      <router-outlet/>
    </section>
  </div>
</main>
