nav {
  background-color: var(--p-gray-200) !important;
  border-bottom: 1px solid var(--p-gray-300) !important;
  z-index: 10;
}

main {
  margin: 100px 0;
  padding: 0;
  display: flex;
}

section {
  max-width: 1024px;
}
