<div
  class="cursor-pointer"
  (click)="navigateToViewingMovie()"
  [pTooltip]="movieInfo"
  [tooltipPosition]="'bottom'"
  [tooltipStyleClass]="'movie-card-tooltip'"
>
  <div class="flex align-items-center justify-content-center">
    <img
      appLoader
      [mediaSource]="movieData().imageURL"
      skeletonSize="200px"
      style="max-width: 200px; max-height: 300px"
    />
  </div>
  <div class="flex flex-column align-items-center">
    <h4 class="flex-grow-1 text-center m-1 p-0">{{ movieData().name }}</h4>
    <p class="text-center m-0 p-0">{{ movieData().year }}</p>
  </div>
</div>

<ng-template #movieInfo>
  <div class="flex gap-4">
    <div
      class="flex align-items-center justify-content-center"
      [pTooltip]="movieInfo"
      [tooltipPosition]="'bottom'"
    >
      <img
        appLoader
        [mediaSource]="movieData()!.imageURL"
        style="max-width: 200px; max-height: 300px"
      />
    </div>
    <div class="details flex flex-column">
      <div class="details-info">
        <div class="flex gap-2">
          <span class="font-bold">Год выпуска: </span>
          <span>{{ movieData().year }}</span>
        </div>
        <div class="flex gap-2">
          <span class="font-bold">Страна: </span>
          <span>{{ movieData().country | country }}</span>
        </div>
        <div class="flex gap-2">
          <span class="font-bold">Жанр: </span>
          <span>{{ movieData().genre | genre }}</span>
        </div>
        <div class="flex gap-2">
          <span class="font-bold">Продолжительность: </span>
          <span>{{ movieData().duration | duration }}</span>
        </div>
        <div class="flex gap-2">
          <span class="font-bold">Качество: </span>
          <span>{{ movieData().quality }}</span>
        </div>
        <div class="flex gap-2">
          <span class="font-bold">Название: </span>
          <span>{{ movieData().name }}</span>
        </div>
      </div>
      <p class="details-description">{{ movieData().description }}</p>
    </div>
  </div>
</ng-template>
